[defaults]
# VASP 可执行文件路径（必填）
vasp_std = "/home/mayuan/soft/vasp.6.3.2/bin/vasp_std"
vasp_gam = "/home/mayuan/soft/vasp.6.3.2/bin/vasp_gam"

# POTCAR 根目录（必填）
potcar_dir = "/home/mayuan/pot/vasp_pot/potpaw_PBE54"

# 默认 MPI 进程数（未指定 --mpi-procs 时使用）
mpi_procs = 8

[templates.bash]
header = """
#!/bin/sh
source /home/mayuan/intel/oneapi/setvars.sh
ulimit -s unlimited
"""

[templates.slurm]
header = """
#!/bin/sh
#SBATCH  --job-name=vasp
#SBATCH  --output=log.out
#SBATCH  --error=log.err
##SBATCH  --partition=intel6240r_384
#SBATCH  --partition=intel6240r_192
#SBATCH  --nodes=1
#SBATCH  --ntasks=48
#SBATCH  --ntasks-per-node=48
#SBATCH  --cpus-per-task=1

source /home/mayuan/intel/oneapi/setvars.sh
ulimit -s unlimited
export I_MPI_ADJUST_REDUCE=3
export MPIR_CVAR_COLL_ALIAS_CHECK=0
"""

[templates.pbs]
header = """
#!/bin/sh
#PBS -N    mayqe
#PBS -q    liuhy
#PBS -l    nodes=1:ppn=28
#PBS -j    oe
#PBS -V

source /home/mayuan/intel/oneapi/setvars.sh
ulimit -s unlimited
cd $PBS_O_WORKDIR
"""

[templates.lsf]
header = """
#!/bin/bash
#BSUB -n 56
#BSUB -q normal
#BSUB -J myjob
#BSUB -R 'span[ptile=56]'
#BSUB -o operation.log

source /data/env/inteloneapi2021
ulimit -s unlimited
"""
